.login {
  height: calc(100dvh - 80px);
  width: 100%;
  translate: 0 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.login--container {
  width: 100%;
  max-width: 400px;
}

.navbar {
  max-height: 80px;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.profile--side {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
