.login {
  height: calc(100dvh - 60px);
  width: 100%;
  translate: 0 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.login--container {
  width: 100%;
  max-width: 400px;
}

.navbar {
  height: 60px;
  max-height: 60px;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.profile--side {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.calendar {
  height: calc(100dvh - 60px);
  flex: 1;
  min-width: 500px;
}

.calendar--day h6 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar--days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  gap: 0.5rem;
}

.calendar--days p {
  background: orange;
}

.planner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
}

.notes {
  flex: 1;
  min-width: 400px;
}
