.login {
  height: calc(100dvh - 60px);
  width: 100%;
  translate: 0 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.login--container {
  width: 100%;
  max-width: 400px;
}

.navbar {
  height: 60px;
  max-height: 60px;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.profile--side {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.calendar {
  max-height: calc(100dvh - 60px - 4rem);
  flex: 1;
  min-width: 400px;
}

.calendar--day h6 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar--days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  gap: 0.5rem;
}

.calendar--days p {
  background: orange;
}

.planner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.notes {
  min-width: 400px;
  max-height: calc(100dvh - 60px - 4rem);
  flex: 1;
}

.notes--list {
  min-width: 400px;
  max-height: calc(100dvh - 60px - 4rem);
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
  grid-auto-flow: row dense;
}

.note {
  height: fit-content !important;
}

.note h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100dvw;
  height: calc(100dvh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
}

.modal--container {
  height: 700px;
  max-height: 90%;
  width: 600px;
  max-width: calc(100dvw - 4rem);
}
